<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link href="/static/output.css" rel="stylesheet">
</head>
<body class="flex justify-center items-center h-screen bg-custom-background">
  <div class="flex flex-col items-center justify-center fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <div class="title">
      <img src="/static/images/PingPongLogo.svg" />
    </div>
    <button id="myButton" class="bg-custom-LIGHT-button text-white text-4xl font-extrabold px-8 py-3 rounded-full mt-1 hover:bg-custom-LIGHT-button-hover">
      Login
    </button>
  </div>
  <script>
      document.getElementById("myButton").onclick = function () {
        location.href = "https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-d10a9ce21bddf5c5122891fa28175e899c5994149a2c95ab9178de72cb1eb491&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Fnickname&response_type=code";
        };
  </script>
</body>
</html>